################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/NewServer/v15/ipch/AutoPCH/94dd5bd81fd03135
/.vs/NewServer/v15/ipch/AutoPCH
*.suo
*.db
*.user
*.opendb
*.pdb
*.ilk
*.exe
/NewServer/Debug/NewServer.tlog
*.obj
*.log
*.idb
*.json
*.sqlite
*.sqlite-journal
/NewServer/Release/NewServer.tlog
